* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    z-index: 1000;
    padding: 15px 100px;
    color: #359381;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    margin-right: 270px;
}
.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
}
.navigation a:hover,
.navigation a.active  {
    background-color: #359381;
    color: white;
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text {
    position: absolute;
    font-size: 5rem;
    color: #333;

}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
}
.para {
    margin: 25px 0 0 0;
    padding: 100px;
    position: relative;
    background: #003329;
}
.para h2 {
    margin: 15px 0;
    font-size: 3rem;
    color: white;
}
.para p {
    font-size: 20px;
    color: white;
}